
@media screen and (max-width:767px){
    body{
       max-width:767px;
       width:100%;
       margin-left:auto;
       margin-right:auto;
   }
    .body-inner{
        max-width:767px;
        width:100%;
    }
   header{
    max-width:767px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
   }

   .header-inner{
    max-width:767px;
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-left:15px;
    padding-right:15px;
   }

.top{
    max-width:767px;
    width:100%;
    margin-left:0;
    margin-right:0;
}

    .top-inner{
        max-width:767px;
        display:block;
        flex-direction: column;
        width:100%;
        margin-left:0;
        margin-right:0;
        text-align:center;
        padding-left:15px;
        padding-right:15px;
    }

    .top-inner img{
        max-width:767px;
        width:100%;
        /* height:276px; */
        height:auto;
        margin-left:auto;
        margin-right:auto;
    }

   .top-inner h2{
       max-width:767px;
       width:100%;
       font-size:28px;
       margin-right:auto;
       margin-left:auto;
       margin-bottom:22px;
   }

    .top-txt p{
       margin:0;
       max-width:767px;
       width:100%;
       height:72px;
    }

   .top-txt{
       margin-top:10px;
       max-width:767px;
       width:100%;
       text-align:center;
   }

   .top-btn{
    display:flex;
    flex-direction:column;
}

   .contact{
       margin-top: 20px;
       margin-bottom: 15px;
       display:block;
       margin-left:auto;
       margin-right:auto;
   }

   .document-request{
    margin-left:auto;
    margin-right:auto;
   }

   .service{
    margin-top:100px;
    max-width:767px;
    flex-direction: column;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
   }

   .service-title{
    max-width:662px;
    width:100%;
    margin-top:0;
    margin-bottom:0;
    font-size:28px;
   }



.about-inner2 .about-txt p{
    height:124px;
    margin-bottom: 0;
}

   .center-line:before,
   .center-line:after{
       width:94px;
   }

   .service-content{
       display:flex;
       flex-direction: column;
   }

   .service-inner{
       margin-top:50px;
   }

   .service-content .service-inner:nth-of-type(1){
       margin-top:0;
   }

   .about{
       max-width:767px;
       width:100%;
       display:block;
       justify-content: center;
       margin-top:100px;
       margin-left:auto;
       margin-right:auto;
       padding-left:15px;
       padding-right:15px;
   }
   .about-title{
    max-width:629px;
    width:100%;
    margin-top:0;
    font-size:28px;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
}

.about-txt{
    padding-top:50px;
}
   .about-inner{
      margin-top:80px;
      flex-direction: column;
      width:100%;
      height:auto;
      
   }

   .about-inner2{
       margin-top:351px;
       flex-direction: column;
       /* max-width:767px; */
       width:100%;
       margin-left:auto;
       margin-right:auto;
       margin-bottom:0px;
       margin-top:70px;

   }
   .about-img1{
       margin-left:auto;
       margin-right:auto;
       max-width:767px;
       width:100%;
   }

   .about-img2{
    margin-left:auto;
    margin-right:auto;
    max-width:767px;
    width:100%;
    margin-top:70px;
}

   .about-txt p{
    max-width:767px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    margin-top:0;
   }

   .about-txt2 p{
    max-width:767px;
    width:100%;
   }

    .about-txt{
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }

    .about-txt2{
        padding-top:50px;
        text-align:center;
    }

.about-txt2,
.about-txt{
    max-width:767px;
    width:100%;
}

    .about-inner figure{
        width:100%;
        margin-left:0;
    }
    
    .about-inner2 figure{
        width:100%;
        margin-right:0;
    }


 .about-txt .more-btn{
     max-width:56px;
     width:100%;
     margin-left:auto;
     margin-right:auto;
     margin-top:30px;
     display:block;
 }

.news{
    /* max-width:767px; */
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-left:15px;
    padding-right:15px;
}

 .news-title{
    margin-top:100px;
    margin-bottom:80px;
    max-width:608px;
    width:100%;
    font-size:28px;
    line-height:1.5;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
    .blog{
        display:block;
        /* max-width:767px; */
        width:100%;
        margin-left:0;
        margin-right:0;

    }

    .blog img{
        display:block;
        margin-right:0;
        margin-bottom:23px;
        max-width:300px;
        /* max-width:767px; */
        width:100%;
        margin-left:auto;
        margin-right:auto;
        margin-top:17px;
    }

    .category{
        margin-bottom:0;
        /* max-width:767px; */
        width:100%;
    }

    .category-content{
        margin-top:24px;
        margin-bottom:18px;
    }

    .category-title{
        margin-bottom:0;
    }

   .footer-rogo{
    width:70px;
    margin-left: 0;
    margin-right: 0;
}

.footer-img{
    width:70px;
    margin-left: auto;
    margin-right: auto;
}

   footer{
       /* max-width:767px; */
       width:100%;
       margin-left:0;
       margin-right:0;
       display:flex;
       justify-content:center;
   }

.footer-inner{
    /* min-width:375px; */
    width:100%;
    margin-left:0;
    margin-right:0;

}

   .footer-menu{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 0px auto 12px auto;
    padding-top:25px;
    margin-bottom:0;
}
.footer-menu ul{
    display:flex;
    flex-direction:column;
    padding:0;
    text-align:center;
    height:auto;
    margin-bottom:0;
}

.footer-menu ul li{
    border:none;
    margin-top:12px;

}

.footer-menu ul li:nth-of-type(1){
    padding-left:18px;
}

.copyright{
    margin-top:40px;
    padding-bottom:20px;
}

.last-btn-innner{
    max-width:767px;
    width:100%;
    padding-left:15px;
    padding-right:15px;
}

.last-btn{
    max-width:767px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.service-center-line:before{
    margin-right: 18px;
}

.service-center-line:after{
    margin-left: 17px;
}

.about-center-line:before{
    margin-right: 16px;
}

.about-center-line:after{
    margin-left: 16px;
}

.news-center-line:before{
    margin-right: 16px;
}

.news-center-line:after{
    margin-left: 16px;
}

.top-br{
    display:inline;
}

.about-br{
   display:none;
}

}

@media screen and (min-width: 768px) and (max-width: 1079px) {
    .inner{
        width:100%;
    }
    .navi{
        margin-left:0px;
    }

    .header-inner{
        width:auto;
        padding-left:15px;
        padding-right:15px;
    }
    
    .top-inner{
        padding-left:15px;
        padding-right:15px;
    }

    .top-img{
        max-width:767px;
        width:50%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        height:auto;
    }
    .top-inner h2{
        font-size:28px;

    }


    .top{
        box-sizing:border-box;
    }

    .top-inner{
        box-sizing:border-box;
    }
    .about{
        width:100%;
        margin-left:auto;
        margin-right:auto;
        display:block;
        justify-content: center;
        margin-top:100px;
        padding-left:15px;
        padding-right:15px;
        box-sizing:border-box;
    }
    
     .news{
        width:100%;
        padding-left:15px;
        padding-right:15px;
        box-sizing:border-box;
     }
     footer{
        padding-left:0;
        padding-right:0;
        box-sizing:border-box;
     }
     .footer-inner{
        box-sizing:border-box;
        padding-left:15px;
        padding-right:15px;
     }

     .footer-menu{
        box-sizing:border-box;
     }
  }


  @media(min-width:1080px){
      html{
        min-width:1080px;
      }
      body{
          min-width:1080px;
      }
      .inner{
        overflow: hidden;
        min-width:1080px;
    }
  }