/* *{
    margin:0;
    padding:0;
} */

html{
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
    min-width:1080px;
    margin:0;
    font-family: 'Yu Gothic','sans-serif';
}

.wrap{
    overflow: hidden;
    min-width:1080px;
}

.body-inner{
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
}

header{
    min-width:1080px;
    height:70px;
}

.header-inner{
    width:1080px;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
}

.header-inner h1{
    margin:0;
    line-height:1.5;
}

.navi{
    display:block;
    width:130px;
    margin-top:18px;
    height:33px;
}

.recruit{
    display: inline-block;
    padding:15px 35px;
    background:#FFE000;
    border-radius:24px;
    width:81px;
    height: 18px;
    margin:11px 0;
    color:#333333;
    font-size: 18px;
    font-weight:bold;
    text-decoration:none;
    box-shadow:3px 3px 10px #00000029;
    text-align:center;
    line-height:1.3;
}

.contact{
    width:88px;
    height:18px;
    color:#FFFFFF;
    background:#109954;
    border-radius:32px;
    padding:15px 39px;
    margin:0;
    text-decoration: none;
    display:inline-block;
    font-weight:bold;
    box-shadow:3px 3px 10px #00000029;
    line-height:1.3;
    text-align:center;
}

.document-request{
    width:144px;
    height:18px;
    border-radius:32px;
    background-color:#FFFFFF;
    border:solid 2px #109954;
    color:#109954;
    padding:15px 39px;
    display:inline-block;
    margin:0;
    text-align:center;
    text-decoration: none;
    font-weight:bold;
    box-shadow:3px 3px 10px #00000029;
    line-height:1.3;
}

.top{
    min-width:1080px;
    height:auto;
}

.top-inner{
    width:1080px;
    margin:80px auto 0 auto;
    display:flex;
    flex-flow: row-reverse;
}

.top-txt{
    margin-top:124px;
    margin-right: 16px;
    line-height:1.5;
}

.top-txt p{
    width:400px;
    height:43px;
    margin-bottom:40px;
    margin-top:34px;
    line-height:1.5;
}

.br-kaigyou{
    display:none;
}

.top h2{
    color:#333333;
    font-size: 36px;
    font-weight:bold;
    width:504px;
    margin-top:0;
    line-height:1.5;
}

.top img{
    width:560px;
    height:448px;
}

.service{
    margin-top:120px;
    text-align:center;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

.service-title{
    /* padding:0 262px; */
    margin-top:0;
    margin-bottom:0;
    line-height:1.5;
    width:662px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-size:36px;
}


.service-content{
    margin-top:109px;
    display:flex;
    justify-content:space-around;
}

.service-inner img{
    width:200px;
    height:200px;
}

.service-inner p{
    font-weight: bold;
    margin-top:30px;
    margin-bottom:0;
    height:20px;
    text-align:center;
    line-height:1.5;

}

.about{
    width:1080px;
    margin-left:auto;
    margin-right:auto;
    margin-top:120px;
}

.about-center{
    text-align:center;
}

.about-title{
    /* padding:0 229px; */
    margin-top:0;
    line-height:1.5;
    width:629px;
    margin-left:auto;
    margin-right:auto;
    font-size:36px;
    line-height:1.5;
}

.about-inner2 img,
.about-inner img{
    width:450px;
    height:278px;
    box-shadow: 0px 11px 20px #00000029;
}

.about-inner{
    display:flex;
    flex-flow:row-reverse;
    margin-top:100px;
    height:278px;
    width:940px;
    margin-left:auto;
    margin-right:auto;
}

.about-inner2{
    display:flex;
    margin-top:100px;
    width:940px;
    margin-left:auto;
    margin-right:auto;
}

.about-inner2 .about-txt p{
    height:97px;
    line-height:1.5;
}

.about-img1{
    margin-left:40px;
}

.about-img2{
    margin-right:40px;
}

.about-recruit{
    color:#109954;
    font-size:32px;
    width:144px;
    height: 32px;
    margin:0;
    margin-bottom:30px;
    margin-top:0;
}

.about-txt{
    padding-top:30px;
    display:block;
    width:450px;
    line-height:1.5;
}

.about-txt p{
    font-size: 16px;
    text-align:left;
    height:127px;
    width:450px;
    margin:0;
    margin-bottom:29px;
    line-height:1.5;
}

.news{
    text-align:center;
    width:1080px;
    margin-left:auto;
    margin-right:auto;
}

.news-title{
    margin-top:120px;
    margin-bottom:101px;
    /* padding:0 208px; */
    font-size: 36px;
    width:608px;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5;
}

.blog{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    border-top:1px solid #D6D6D6;
    border-bottom:1px solid #D6D6D6;
    display:flex;
    text-decoration: none;
    color:#333333;
}

.blog img{
    width:300px;
    height: 168px;
    margin:18px 34px 18px 0;
    display:flex;
    justify-content:left;
}

.category{
    margin-top:36px;
    margin-bottom:53px;
    text-align:left;
}

.blog-time time{
    width:103px;
    height:16px;
    font-size: 16px;
    font-weight:bold;
    line-height:1.5;
}

.category p{
    font-size: 16px;
    text-align:left;
    line-height:1.5;
}

.category-content{
    margin-top:20px;
    margin-bottom:0px;
}

.category p:nth-of-type(1){
    font-weight:bold;
}

.category-txt {
    font-size: 14px;
    font-weight:bold;
    margin:0;
    width:55px;
    height:14px;
    padding:6px 23px;
    border:solid #109954 2px;
    border-radius: 13px;
    display:inline-block;
    text-align:center;
    white-space: nowrap;
    line-height:1.3;
    color:#109954;
}

footer{
    background:#E8E8E8;
    min-width:1080px;
    text-align:center;
    margin-left:0;
    margin-right:0;
    width:100%;
}

.footer-inner{
    width:1080px;
    margin:0 auto;
}

.footer-menu{
    display: flex;
    justify-content:space-between;
    margin: 0px 100px 12px 100px;
    padding-top:25px;
    width:1050px;
    margin-left:auto;
    margin-right:auto;
}

.footer-rogo{
    width:70px;
    height:70px;
    margin-left:0px;
    margin-top:0px;
    display:inline-block;
}

.footer-img{
    width:70px;
    height:70px;
}

footer ul{
    display:flex;
    font-size:14px;
    white-space: nowrap;
    list-style: none;
    height:20px;
    margin-top:22px;
}

footer ul li{
    padding:0 18px;
    border-left:solid 1px black;
    margin:0;
    line-height:1.5;
}

footer ul li:nth-of-type(1){
     border-left:none;
     padding-left:0;
}

footer ul li:nth-of-type(4){
    padding-right:0;
}

footer ul li a{
    text-decoration: none;
    color:#333333;
}

.copyright{
    text-align:center;
    width:134px;
    color:#333333;
    font-size: 14px;
    display:block;
    margin:0 auto 0 auto;
    white-space: nowrap;
    padding:15px;
}

img{
    max-width:100%;
    height:auto;
}

.more-btn{
    color:#FFFFFF;
    font-size:18px;
    font-weight:bold;
    background:#109954;
    border-radius:24px;
    padding:15px 55px;
    display:inline-block;
    margin:0;
    width:56px;
    height:18px;
    text-decoration: none;
    box-shadow:3px 3px 10px #00000029;
    line-height:1;
}

.last-btn{
    display:flex;
    justify-content:center;
    width:1080px;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
    margin-bottom:100px;
}

.service-center-line{
    display: flex;
    align-items: center;
    color:#333333;
}

.service-center-line:before,
.service-center-line:after{
    content: "";
    height:4px;
    flex-grow: 1;
    background-color:#109954;
}

.service-center-line:before{
    margin-right: 54px;
}

.service-center-line:after{
    margin-left: 50px;
}

.about-center-line{
    display: flex;
    align-items: center;
    color:#333333;
}

.about-center-line:before,
.about-center-line:after{
    content: "";
    height:4px;
    flex-grow: 1;
    background-color:#109954;
}

.about-center-line:before{
    margin-right: 50px;
}

.about-center-line:after{
    margin-left: 50px;
}


.news-center-line{
    display: flex;
    align-items: center;
    color:#333333;
}

.news-center-line:before,
.news-center-line:after{
    content: "";
    height:4px;
    flex-grow: 1;
    background-color:#109954;
}

.news-center-line:before{
    margin-right: 50px;
}

.news-center-line:after{
    margin-left: 50px;
}